label {
  display: block;
  margin-top: 10px;
}

.card-container.card {
  max-width: 350px !important;
  padding: 40px 40px;
}

.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
  height: 200px;
  margin: 0 auto 10px;
  padding-inline: 10px;
  display: inline-block;
  max-inline-size: 500px;
}


/*.app {*/
/*  box-sizing: border-box;*/
/*  width: 100%;*/
/*}*/

/*.frontPage {*/
/*}*/

/*.imageListDiv {*/
/*}*/

.imageDiv {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

.imageDiv img {
  width: 100%;
  height: auto;
}

.hashtag {
  padding: 15px;
  text-align: center;
}

div.imageDiv:hover {
  border: 1px solid #777;
}


@media only screen and (max-width: 1024px) {
  .container {
    display: inline-block;
    position: relative;
  }
}

.imageDiv {
  padding: 5px;
  box-sizing: border-box;
}

.imageListDiv {
  display: grid;
  grid-template-areas:
          'image image image image image';
  background-color: cornflowerblue;
}

.admin-operation-button {
  margin: 15px 15px 15px 0px;
}
